/* 
CSS for portfolio page
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
}

#header h1 {
    font-size: 40px;
}

.name_class {
    padding: 10px 20px 0px 20px;
    background-color: #000;
    color:rgb(255, 255, 255);
    margin-left: 40px;
    float:left;
}

.cyan_line {
    background-color: rgb(74, 170, 164);
    height: 10px;
    width: 100%;
}

#menu {
    padding-top: 7px;
    padding-right: 80px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    float: right;
  
}
li a:hover {
    background-color:#333;
    color:#fff;
    transition-duration: 1000ms;
}

li a {
    text-decoration-line: none;
    text-align: center;
    color:#000;
    height: 40px;
    display: block;
    width: 60px;
    padding: 2px 12px;   
}


#main {
    position:relative;
    background-image: url("https://s19.postimg.org/edixf91z7/shattered.png");
    width: 100%;
    height: 600px;
}

.portfolio {
    position:relative;
    background-color:#fff;
    width: 580px;
    height: 500px;
    top: 40px;
    left: 80px;
    padding: 20px 20px 0px 20px;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.hang_right {
    float: right;
}

hr {
    color:rgb(74,170,164);
   
}

.project img {
    padding-top:20px;
}


#project1 {
    position: relative;
    height: 125px;
    width: 250px;
    margin-right:0;
}

#project2 {
    position: absolute;
    height: 125px;
    width: 250px;
    right: 20px;
    top: 63px;
}

#project3 {
    position: relative;
    height: 125px;
    width: 250px;
    top: 27px;

}

#project4 {
    position: absolute;
    height: 125px;
    width: 250px;
    right: 20px;
    bottom: 180px;
}

#project5 {
    position: relative;
    height: 125px;
    width: 250px;
    top: 60px;

}

.text_overlay {
    position: relative;
    background-color: rgb(74,170,164);
    color:#fff;
    padding: 20px;
    text-align: center;
    bottom: 80px;
    opacity: 0.5;
}

.text_overlay:hover{
    opacity: 1.0;
    transition-duration: 800ms;
}

#connect {
    position: absolute;
    top: 40px;
    right: 140px;
    background-color:#fff;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#connect img {
    width: 100px;
}

/*
Doesn't work yet - will come back to it

Want to have the size of the social media icons change when
hover occurs

#connect a:hover{
    width: 200px;
    height: 200px;
    transition-duration: 800ms;
} */

.footer {
    position:fixed;
    color:#fff;
    background-color: rgb(102,102,102);
    margin: 0 auto;
    height: 70px;
    text-align: center;
    padding-top: 20px;
}